span.code { font-family: 'Courier new', monospace; background-color:rgb(225, 225, 225); color:black; }
div.code { font-family: 'Courier new', monospace; background-color:rgb(225, 225, 225); color:black; border: solid black 1px; }

